.btn {
  display: inline-block;
  border: none;
  padding: 15px 44px;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.54;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #fff;
  background-color: var(--c-accent);
  color: var(--c-white);
  cursor: pointer;
}