.footer {

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 93px;
    margin-top: -1px;
    background-color: #cdfd3b;

    @include mobile {
      padding: 20px;
      flex-direction: column;
      gap: 16px;
    }
  }

  &__text {
    font-size: 15px;
    line-height: 1.6;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--c-dark);
  }

  &__link {
    @include hover {
      text-decoration: underline;
    }
  }
}