<header class="header">
  <div class="container">
    <div class="border-block flex header__block">
      <a class="header__back btn" href="#">Go back</a>
      <nav class="nav" title="Main navigation">
        <ul class="list-reset nav__list">
          <li class="nav__item"><a href="#" class="nav__link">story</a></li>
          <li class="nav__item"><a href="#" class="nav__link">shop</a></li>
          <li class="nav__item"><a href="#" class="nav__link logo"><img src="img/logo.svg" alt="Ujjo Logo"></a></li>
          <li class="nav__item"><a href="#" class="nav__link">contact</a></li>
          <li class="nav__item"><a href="#" class="nav__link">wholesale</a></li>
        </ul>
      </nav>
      <button class="header__clone btn">Clone</button>
    </div>
  </div>
</header>