<section class="hero">
  <div class="container">
    <div class="border-block hero__block flex">
      <div class="hero__left">
        <div class="hero__ujjo">
          <img src="img/ujjo.svg" alt="Ujjo" width="698" height="425">
        </div>
        <div class="hero__phrase ticker">
          <div class="ticker__wrapper">
            <div class="ticker__item">
              put some fire in your belly
              <img class="ticker__icon" src="img/pepper.svg" width="68" height="31" aria-hidden="true" alt="">
            </div>
            <div class="ticker__item">
              put some fire in your belly
              <img class="ticker__icon" src="img/pepper.svg" width="68" height="31" aria-hidden="true" alt="">
            </div>
            <div class="ticker__item">
              put some fire in your belly
              <img class="ticker__icon" src="img/pepper.svg" width="68" height="31" aria-hidden="true" alt="">
            </div>
            <div class="ticker__item">
              put some fire in your belly
              <img class="ticker__icon" src="img/pepper.svg" width="68" height="31" aria-hidden="true" alt="">
            </div>
            <div class="ticker__item">
              put some fire in your belly
              <img class="ticker__icon" src="img/pepper.svg" width="68" height="31" aria-hidden="true" alt="">
            </div>
          </div>
        </div>
        <div class="hero__image-1">
          <picture>
            <source srcset="img/hero-image-1.webp" type="image/webp">
            <img loading="lazy" src="img/hero-image-1.jpg" class="image" width="657" height="439" alt="Ujjo Pepper">
          </picture>
        </div>
      </div>
      <div class="hero__right">
        <h1 class="hero__title">THE FIRST HOT SAUCE MADE FOR COFFEE</h1>
        <div class="hero__image-2">
          <picture>
            <source srcset="img/hero-image-2.webp" type="image/webp">
            <img loading="lazy" src="img/hero-image-2.jpg" class="image" width="656" height="705"
              alt="Ujjo Pepper in hand">
          </picture>
        </div>
      </div>
    </div>
  </div>
</section>