<div class="ticker-bottom">
  <div class="container">
    <div class="ticker-bottom__content">
      <div class="ticker">
        <div class="ticker__wrapper">
          <div class="ticker__item">
            CONTACT FOR PARTNERSHIP OPPORTUNITIES
            <img class="ticker__icon" src="img/pepper.svg" width="68" height="31" aria-hidden="true" alt="">
            download our media kit
            <img class="ticker__icon" src="img/pepper.svg" width="68" height="31" aria-hidden="true" alt="">
          </div>
          <div class="ticker__item">
            CONTACT FOR PARTNERSHIP OPPORTUNITIES
            <img class="ticker__icon" src="img/pepper.svg" width="68" height="31" aria-hidden="true" alt="">
            download our media kit
            <img class="ticker__icon" src="img/pepper.svg" width="68" height="31" aria-hidden="true" alt="">
          </div>
          <div class="ticker__item">
            CONTACT FOR PARTNERSHIP OPPORTUNITIES
            <img class="ticker__icon" src="img/pepper.svg" width="68" height="31" aria-hidden="true" alt="">
            download our media kit
            <img class="ticker__icon" src="img/pepper.svg" width="68" height="31" aria-hidden="true" alt="">
          </div>
          <div class="ticker__item">
            CONTACT FOR PARTNERSHIP OPPORTUNITIES
            <img class="ticker__icon" src="img/pepper.svg" width="68" height="31" aria-hidden="true" alt="">
            download our media kit
            <img class="ticker__icon" src="img/pepper.svg" width="68" height="31" aria-hidden="true" alt="">
          </div>
          <div class="ticker__item">
            CONTACT FOR PARTNERSHIP OPPORTUNITIES
            <img class="ticker__icon" src="img/pepper.svg" width="68" height="31" aria-hidden="true" alt="">
            download our media kit
            <img class="ticker__icon" src="img/pepper.svg" width="68" height="31" aria-hidden="true" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>